label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ddd;
}

#suggestSymbolButton {
  margin-left: 10px;
}

.minDisplay {
  width: 142px;
}

.separation {
  padding-top: 10px;
}

.textarea-full-width {
  width: 80%;
}

span {
  position: absolute;
  left: 2px;
}

.deletionCoordinatesWrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 3px;
}
