@if (canUpdate) {
  <ng-container [formGroup]="consortiaForm">
    <label for="consortiumName">Consortia *:</label>
    <mat-form-field appearance="fill">
      <mat-label>Choose your consortium</mat-label>
      <mat-select multiple
        (blur)="onTouched()"
        formControlName="consortiumName">
        @for (consortium of consortia; track consortium) {
          <mat-option [value]="consortium.name">
            {{ consortium.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </ng-container>
  <br>
} @else {
  <label for="consortia">Consortia:</label>
  <mat-form-field appearance="fill">
    <input matInput readonly [value]="consortiumNames" />
  </mat-form-field>
}
