<p>ES Cell Details:</p>
<ng-container [formGroup]="esCellDetailsForm">
  @if (canUpdate) {
    <mat-card appearance="outlined">
      <mat-card-subtitle>Order Info</mat-card-subtitle>
      <mat-card-content>
        <label for="numberOfEsCellsReceived">Number Of ES Cells Received:</label>
        <mat-form-field appearance="fill" id="numberOfCreMatingsSuccessful">
          <input matInput appDigitOnly
            (blur)="onTouched()"
            formControlName="numberOfEsCellsReceived"
            class="form-control" />
        </mat-form-field>
        <br>
        <label for="esCellsReceivedFromName">ES Cell Received From:</label>
        <mat-form-field appearance="fill">
          <mat-select (blur)="onTouched()" formControlName="esCellsReceivedFromName">
            <mat-option></mat-option>
            @for (centre of receivedFromCentres; track centre) {
              <mat-option [value]="centre.name">
                {{ centre.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br>
        <label for="esCellsReceivedOn">Es Cells Received On:</label>
        <mat-form-field appearance="fill" id="esCellsReceivedOn">
          <input matInput [matDatepicker]="esCellsReceivedOn" (blur)="onTouched()" formControlName="esCellsReceivedOn" >
          <mat-datepicker-toggle matSuffix [for]="esCellsReceivedOn"></mat-datepicker-toggle>
          <mat-datepicker #esCellsReceivedOn></mat-datepicker>
        </mat-form-field>
        <br>
      </mat-card-content>
    </mat-card>
  } @else {
    <label for="numberOfEsCellsReceived">Number Of ES Cells Received:</label>
    <mat-form-field appearance="fill">
      <input matInput readonly [(value)]="esCellQc.numberOfEsCellsReceived" />
    </mat-form-field>
    <br>
    <label for="esCellsReceivedFromName">ES Cell Received From:</label>
    <mat-form-field appearance="fill">
      <input matInput readonly [(value)]="esCellQc.esCellsReceivedFromName" />
    </mat-form-field>
    <br>
    <label for="esCellsReceivedOn">ES Cells Received On:</label>
    <mat-form-field appearance="fill">
      <input matInput readonly [(value)]="esCellQc.esCellsReceivedOn" />
    </mat-form-field>
    <br>
  }
  <mat-card appearance="outlined">
    <mat-card-subtitle>ES Cell QC</mat-card-subtitle>
    <mat-card-content>
      @if (canUpdate) {
        <label for="numberOfEsCellsStartingQc">Number Of ES Cells Starting Qc:</label>
        <mat-form-field appearance="fill" id="numberOfEsCellsStartingQc">
          <input matInput appDigitOnly
                 (blur)="onTouched()"
                 formControlName="numberOfEsCellsStartingQc"
                 class="form-control" />
        </mat-form-field>
        <br>
        <label for="numberOfEsCellsPassingQc">Number Of ES Cells Passing Qc:</label>
        <mat-form-field appearance="fill" id="numberOfEsCellsPassingQc">
          <input matInput appDigitOnly
                 (blur)="onTouched()"
                 formControlName="numberOfEsCellsPassingQc"
                 class="form-control" />
        </mat-form-field>
        <br>
        <label for="esCellQcComment">Es QC Comment:</label>
        <mat-form-field appearance="fill">
          <mat-select (blur)="onTouched()"
                      formControlName="esCellQcComment" >
            <mat-option></mat-option>
            @for (comment of qcComments; track comment) {
              <mat-option [value]="comment.name">
                {{ comment.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br>
      } @else {
        <label for="numberOfEsCellsStartingQc">Number Of ES Cells Starting Qc:</label>
        <mat-form-field appearance="fill">
          <input matInput readonly [(value)]="esCellQc.numberOfEsCellsStartingQc" />
        </mat-form-field>
        <br>
        <label for="numberOfEsCellsPassingQc">Number Of ES Cells Passing Qc:</label>
        <mat-form-field appearance="fill">
          <input matInput readonly [(value)]="esCellQc.numberOfEsCellsPassingQc" />
        </mat-form-field>
        <br>
        <label for="esCellQcComment">Es QC Comment:</label>
        <mat-form-field appearance="fill">
          <input matInput readonly [(value)]="esCellQc.esCellQcComment" />
        </mat-form-field>
        <br>
      }
    </mat-card-content>
  </mat-card>
</ng-container>
