@if (currentConsortium) {
  <div id="changeEditMode">
    @if (canUpdateList) {
      <mat-slide-toggle (change)="changeViewMode($event)">
        <strong>Change to {{ newEditMode }} mode</strong>
      </mat-slide-toggle>
    }
  </div>
}

@if (currentConsortium) {
  <div class="table-controllers">
    <div>
      @if (checkEditable()) {
        <button mat-button (click)="openImportDialog()" color="accent">
          <mat-icon>cloud_upload_alt</mat-icon> Import CSV
        </button>
      }
    </div>
    <div>
      <button mat-button (click)="emitDownloadCsvEvent()" color="accent">
        <mat-icon>save_alt</mat-icon> Download as CSV
      </button>
    </div>
  </div>
}
