<mat-card appearance="outlined">
  <mat-card-subtitle>Colony Details</mat-card-subtitle>
  <mat-card-content>
    @if (canUpdate) {
      <tr>
        <td><label for="name">Name: *</label></td>
        <td>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="colony.name" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><label for="genotypingComment">Genotyping comment:</label></td>
        <td>
          <mat-form-field appearance="fill">
            <textarea matInput (keyup)="onCommentChanged($event)" [(ngModel)]="colony.genotypingComment"
            [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><label for="backgroundStrainName">Background Strain: *</label></td>
        <td>
          <mat-form-field appearance="fill">
            <mat-select class="select-content" [(value)]="colony.backgroundStrainName">
              <mat-option></mat-option>
              @for (backGroundStrain of backGroundStrains; track backGroundStrain) {
                <mat-option [value]="backGroundStrain.name">
                  {{ backGroundStrain.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    } @else {
      <label for="name">Name:</label>
      <mat-form-field appearance="fill">
        <input matInput readonly [value]="colony.name" />
      </mat-form-field>
      <br>
      <label for="backgroundStrainName">Background Strain:</label>
      <mat-form-field appearance="fill">
        <input matInput readonly [value]="colony.backgroundStrainName" />
      </mat-form-field>
      <br>
      <label for="genotypingComment">Genotyping comment:</label>
      <mat-form-field appearance="fill">
        <textarea matInput readonly [value]="colony.genotypingComment"></textarea>
      </mat-form-field>
      <br>
    }
  </mat-card-content>
</mat-card>
<div class="section">
  @if (colony.statusTransition) {
    <app-status-transition
      [statusTransition]="colony.statusTransition"
      [canUpdate]="canUpdate">
    </app-status-transition>
  }
  @if (!isNew) {
    <app-status-date [statusDates]="colony.statusDates" [title]='"Colony Status History"'></app-status-date>
  }
</div>
