<!-- <h1 mat-dialog-title *ngIf="action !== ''">Row Action :: <strong>{{ action }}</strong></h1> -->
<div mat-dialog-content>
  @if (action === 'Update') {
    <mat-form-field appearance="fill">
      <input placeholder="{{action}} Symbol " matInput [(ngModel)]="localData.symbol">
    </mat-form-field>
  }
  @if (action === 'Delete') {
    <p>
      Sure to delete <b>{{ localData.symbol }}</b>?
    </p>
  }
  @if (action === '') {
    <p>
      Gene symbol <b>{{ localData.symbol }}</b> already exists.
      <!-- {{ localData.symbol }} -->
    </p>
  }
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>


