<mat-card appearance="outlined">
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-subtitle>Outcome Details</mat-card-subtitle>
  <mat-card-content>
    <label for="pin">Plan Id:</label>
    <a routerLink="/projects/{{ tpn }}/production-plan/{{pin}}">{{ pin }}</a>
    <div class="separation"></div>

    <label for="geneSymbol">Gene Symbol:</label>
    {{ geneSymbol }}
    <div class="separation"></div>

    @if (!isOutcomeBeingCreated) {
      <div>
        <label for="tpo">Outcome id:</label>
        {{ outcome.tpo }}
      </div>
    }
    <div class="separation"></div>
    @if (canUpdate && isOutcomeBeingCreated) {
      <label for="outcomeTypeName">Type:</label>
      <mat-form-field appearance="fill">
        <mat-select (selectionChange)="onTypeSelected($event)" class="select-content"
          [(ngModel)]="outcome.outcomeTypeName" [ngModelOptions]="{standalone: true}">
          <mat-option></mat-option>
          @for (outcomeType of outcomeTypes; track outcomeType) {
            <mat-option [value]="outcomeType.name">
              {{ outcomeType.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="separation"></div>
    } @else {
      <label for="outcomeTypeName">Type:</label>
      {{ outcome.outcomeTypeName }}
      <div class="separation"></div>
    }
  </mat-card-content>
</mat-card>

@if (outcome.colony) {
  <div>
    <app-colony-detail [colony]="outcome.colony" [isNew]="isOutcomeBeingCreated" [canUpdate]="canUpdate"></app-colony-detail>
  </div>
}

@if (this.outcome.outcomeTypeName) {
  <div>
    <div id="mutations">
      <mat-card appearance="outlined">
        <mat-card-content>
          <table class="input_table">
            <thead>
              <tr>
                <th colspan="2">Mutations</th>
              </tr>
            </thead>
            <tbody>
              @for (mutation of this.outcome.mutations; track mutation) {
                <app-mutation-detail [canUpdate]="canUpdate" [attemptType]="attemptType"
                  [outcome]="outcome" [mutation]="mutation" (mutationDeleted)="onMutationDeleted($event)" class="section">
                </app-mutation-detail>
              }
              @if (canUpdate) {
                <tr>
                  <td>
                    <button class="create-button" mat-raised-button (click)="onAddMutation()" color="primary" type="button"
                    >Add Mutation</button>
                    @if (showDeleteButton) {
                      <button class="create-button" style="margin-left: 20px" mat-raised-button (click)="onMutationDeleted($event)" color="" type="button"
                      >Delete Empty Mutations</button>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
          <div class="separation"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
}

@if (outcome.colony) {
  <div>
    <app-distribution-product-list class="distributionProductsSection" [colony]="outcome.colony"
      [canUpdate]="canUpdate">
    </app-distribution-product-list>
  </div>
}

@if (canUpdate) {
  <mat-card appearance="outlined">
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!enableUpdateButton()"
        (click)="updateOrCreate()"
      >
        {{ isOutcomeBeingCreated ? 'Create' : 'Update' }}
      </button>
      <br>
      <span style="font-size: 12px; ">* required fields</span>
      <div class="separation"></div>
      @if (error) {
        <div class="alert alert-danger">{{ error }}</div>
      }
    </mat-card-content>
  </mat-card>
}
